<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.razu.space_shooter_api_15" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivityStartPageActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutGameActivity"
            android:label="@string/title_activity_about__game_"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/title_activity_instructions_"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play_"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>

        <!--
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        -->

        <activity
            android:name=".ScoresActivity"
            android:label="@string/title_activity_scores_"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings_"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>
